= render 'toindex'
%h1 ポスト詳細

-# post.idはユーザーに必要？
%div
  ID:
  = @post.id
%div
  content:
  = @post.content

-# だいたい投稿日時を表示するサイトが多いと思う
%div
  created_at:
  = @post.created_at
%div
  updated_at:
  = @post.updated_at
